body {
  font-family: "Lexend Deca", sans-serif;
  /*  justify-content: center;
  display: flex;*/
}

.container {
  width: 1366px;
  height: 768px;
  background-color: #f9f9fc;
  position: relative;
}
